/* 共通 */
html {
    font-size: 100%;
}
body{
    font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
    line-height: 1.7;
}
a {
    text-decoration: none;
}
a:hover{
    opacity: 0.8;
}
/* ::placeholder{
    color:#E0E0E0;
} */
li{
    list-style: none;
}
img {
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
.wrapper {
    /* max-width: 1260px; */
    /* max-width: 65%; */
    /* margin: 0 auto; */
    padding-left: 15%;
}
.wrapper-left{
    float: left;
    width: 80%;
}
.clearfix:after{
    content: '';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}
.hide{
    display: none;
}
h2{
    display: inline-block;
    font-size: 30px;
    /* font-size: 2.1vw; */
    font-weight: bold;
    background: linear-gradient(transparent 65%, var(--main) 65%);
    margin-bottom: 30px;
    line-height: 1;
    white-space: nowrap;
}
h2,p,label,address{
    color: var(--fc);
}
address{
    font-style: normal;
    /* font-size: 0.89vw; */
    font-size: 17px;
    font-weight: bold;
    line-height: 2.5;
    white-space: nowrap;
}

/* ふわっとするアニメーション */
/*フェードインアニメ*/
/*左から右にフェードイン*/
.left-to-right {
    opacity: 0.1;
    transform: translateX(-50px);
    transition: all 1s;
  }
  .left-to-right.scrollin {
    opacity: 1;
    transform: translate(0);
    animation-direction: alternate;
  }
/*右から左にフェードイン*/
.right-to-left {
    opacity: 0.1;
    transform: translateX(50px);
    transition: all 1s;
  }
  .right-to-left.scrollin {
    opacity: 1;
    transform: translate(0);
  }
  /*下から上にフェードイン*/
  .down-to-top {
    opacity: 0.1;
    transform: translateY(50px);
    transition: all 1s;
  }
  .down-to-top.scrollin {
    opacity: 1;
    transform: translateY(0);
  }



/* 変数 */
/* var(--◯◯)で呼び出し */
:root {
    --main: #009E96;
    --fc: #434343;
    --line: rgba(0,158,150,.5);
}



/* ラジオボタン＆チェックボックスカスタム*/
input[type=checkbox],input[type=radio] {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    height: 20px;
    width: 20px;
    vertical-align: -0.8rem;
    transition:all .15s ease-out 0s;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: .4rem;
    outline: none;
    border-radius: 10%;
}
/* Checkbox */
input[type=checkbox]:before,input[type=checkbox]:after {
    position: absolute;
    content: "";
    background: #fff;
    transition: all .2s ease-in-out;
}
input[type=checkbox]:before {
    left: 2px;
    top: 6px;
    width: 0;
    height: 2px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}
input[type=checkbox]:after {
    right: 9px;
    bottom: 3px;
    width: 2px;
    height: 0;
    transform: rotate(40deg);
    -webkit-transform: rotate(40deg);
    -moz-transform: rotate(40deg);
    -ms-transform: rotate(40deg);
    -o-transform: rotate(40deg);
    transition-delay: .2s;
}
input[type=checkbox]:checked:before {
    left: 1px;
    top: 10px;
    width: 6px;
    height: 2px;
}
input[type=checkbox]:checked:after {
    right: 5px;
    bottom: 1px;
    width: 2px;
    height: 14px;
}
input[type=checkbox]:indeterminate:before,input[type=checkbox]:indeterminate:after {
    width: 7px;
    height: 2px;
    transform: rotate(0);
    -webkit-transform: rotate(0);
    -moz-transform: rotate(0);
    -ms-transform: rotate(0);
    -o-transform: rotate(0);
}
input[type=checkbox]:indeterminate:before {
    left: 1px;
    top: 7px;
}
input[type=checkbox]:indeterminate:after {
    right: 1px;
    bottom: 7px;
}
/* Radio */
input[type=radio] {
    border-radius: 50%;
}
input[type=radio]:checked:before {
    transform: scale(1);
}
input[type=radio]:before {
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 3px;
    transform: scale(0);
    transition: all ease-out 250ms;
}
/* 色は青色のみ */
input[type=checkbox].blue,input[type=radio].blue {
    border: 2px solid var(--main);
}
input[type=checkbox].blue:checked,input[type=checkbox].blue:indeterminate,input[type=radio].blue:checked:before {
    background: var(--fc);
}






/* ■■■■■■　index.html ■■■■■■　*/
/* サイドバー固定 */
.side {
    position: fixed;
    width: 20%;
    height: 100%;
    right: 0;
    text-align: -webkit-center;
}
.side-logo{
    display: flex;
    justify-content: center;
    /* margin-top: 160px; */
    margin-top: 30px;
    transition: all 0.8s;
}
.side-logo.js_active_side{
    margin-top: 30px;
}
.side p{
    writing-mode: vertical-rl;
}
.side .title{
    /* font-size: 50px; */
    font-size: 2.3vw;
    letter-spacing: 14px;
    font-weight: bold;
}
.side .sub-title-right{
    text-align: start;
    font-size: 1vw;
    /* font-size: 25px; */
    letter-spacing: 20px;
}
.side .sub-title-left{
    text-align: end;
    font-size: 1vw;
    /* font-size: 25px; */
    letter-spacing: 20px;
    font-weight: bold;
}

/* .entry-box img{
    width: 6.66vw;
} */
.entry-box a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 6.6vw;
    height: 6.6vw;
    background-color: var(--main);
    border-radius: 50%;
}
.entry-box p{
    font-size: 20px;
    font-size: 1vw;
    font-weight: bold;
    color: #fff;
    writing-mode: lr-tb;
    /* writing-mode: horizontal-tb; */
}


.side .side-scroll{
    position: absolute;
    bottom: 0;
    width: 100%;
    /* font-size: 35px; */
    font-size: 1.82vw;
}
.side .side-scroll p{
    color: #626262;
}
/* アニメーション */
.side .side-scroll p {
    /* 背景グラデーションを指定・幅を 200% にしておく */
    /* background: linear-gradient(to top, #f00 0%, #f80 14.28%, #dd0 28.56%, #0d0 42.85%, #0dd 57.14%, #00f 71.42%, #e0e 85.71%, #f00 100%) 0% center / 200% auto; */
    background: linear-gradient(to bottom, #454545 0%, #6C6C6C 14.28%, #7C7C7C 28.56%, #8D8D8D 42.85%, #EFEFEF 57.14%, #8D8D8D 71.42%, #7C7C7C 85.71%, #6C6C6C 100%) 0% top / auto 200%;
    
    /* 背景画像を文字でマスクする */
            background-clip: text;
    -webkit-background-clip: text;
    
    /* 文字色を透明にできればよく color: transparent でも color: rgba(0, 0, 0, 0) でも可 */
            text-fill-color: transparent;
    -webkit-text-fill-color: transparent;
    
    /* アニメーション指定 */
    animation: example 4s linear infinite;
  }
  
  /* 背景の横位置をズラす */
  @keyframes example {
    to { background-position-y: 200%; }
  }


.side .side-scroll img{
    display: block;
    width: 20px;
    height: 50px;
    margin-left: 20px;
}

.side i{
    font-size: 2.4vw;
    /* font-size: 46px; */
    color: var(--fc);
}



/* ヘッダー */
.page-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 160px;

    position: fixed;
    z-index: 100;
    top: 0;
    background-color:rgba(255,255,255,0.7);
    /* box-shadow: 0 10px 30px 0 rgba(0, 0, 0, .5); */
    width: 80%;
    padding-left: 12%;
    transition: all 0.8s;
}
.page-header.js_active {
    /* position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    z-index: 9999;
    height: 100px; */

    position: fixed;
    z-index: 100;
    top: 0;
    background-color:rgba(255,255,255,0.97);
    width: 80%;
    height: 80px;
    padding-left: 12%;
}
.page-header h1{
    font-size: 20px;
    font-weight: normal;
}
.page-header .span{
    font-size: 50px;
    /* font-size: 2.6vw; */
    font-weight: bold;
}
.page-header a{
    color: var(--fc);
}

/* グロナビ */
.gnav ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-template-columns: repeat(auto-fit, minmax(138px, 1fr)); */
    /* grid-gap: 30px; */
    grid-gap: 1.5625vw;
    text-align: center;
}
.gnav a{
    display: block;
    /* width: 100%; */
    /* width: 138px; */
    width: 8.4vw;
    line-height: 55px;
    color: #fff;
    /* font-size: 25px; */
    font-size: 1.3vw;
    background-color: var(--main);
    text-align: center;
}
.gnav-entry{
    display: none;
}
/* グロナビホバーアニメーション */
.gnav li a:hover{
    background: #fff;
    color: var(--main);
    opacity: unset;
}
.gnav li {
    position: relative;
    overflow: hidden;
  }
  .gnav li::before,
  .gnav li::after {
    position: absolute;
    display: block;
    content: "";
    width: 100%;
    height: 3px;
    background: var(--main);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .gnav li::before {
    top: 0;
    left: -100%;
  }
  .gnav li::after {
    bottom: 0;
    right: -100%
  }
  .gnav li a::before,
  .gnav li a::after {
    position: absolute;
    display: block;
    content: "";
    width: 3px;
    height: 100%;
    background: var(--main);
    transition: all 0.2s cubic-bezier(0.455, 0.03, 0.515, 0.955);
  }
  .gnav li a::before {
    top: 100%;
    left: 0;
  }
  .gnav li a::after {
    top: -100%;
    right: 0;
  }
  .gnav li:hover::before {/* 最初のライン（左上→右上） */
    animation: topline 0.05s linear forwards;
  }
  @keyframes topline {
    0% {
      left: -100%;
    }
    100% {
      left: 0;
    }
  }
  .gnav li:hover::after {
    animation: btmline 0.05s linear forwards 0.1s;
  }
  @keyframes btmline {
    0% {
      right: -100%
    }
    100% {
      right: 0;
    }
  }
  .gnav li:hover a::before {/* 右上→右下） */
    animation: leftline 0.05s linear forwards 0.15s;
  }
  @keyframes leftline {
    0% {
      top: 100%;
    }
    100% {
      top: 0;
    }
  }


  .gnav li:hover a::after {
    animation: rightline 0.05s linear forwards 0.05s;
  }
  @keyframes rightline {
    0% {
      top: -100%;
    }
    100% {
      top: 0;
    }
  }


/* ハンバーガーメニュー */
.menu{
    display: none;
}


/* heroスライダー */
.hero{
    height: 600px;
    margin-bottom: 80px;
    margin-top: 160px;
    position: relative;
}
.hero img{
    object-fit: cover;
    height: 600px;
    width: 100%;
}
.hero .hero-text{
    position: absolute;
    top: 40%;
    font-size: 50px;
    /* font-size: 2.6vw; */
    line-height: 70px;
    color: #fff;
    padding-left: 15%;
}






/* セクション共通 */
.section-01,
.section-02,
.section-03{
    margin-bottom: 180px;
}
.head-en{
    font-size: 16px;
    /* font-size: 1vw; */
    margin-bottom: 30px;
    color: #626262;
}
.section-01 .sub-title,
.section-02 .sub-title,
.section-03 .sub-title{
    font-size: 20px;
    /* font-size: 1.5625vw; */
    margin-bottom: 30px;
    font-weight: bold;
}
.section-lead{
    font-size: 18px;
    /* font-size: 1vw; */
    text-align: justify;/* 両端揃え */
}


/* セクション01 */
.section-01 article{
    float: left;
    width: 40%;
    /* margin-right: 6%; */
}
.section-01-img{
    position: relative;
    float: right;
    width: 50%;
    height: 421px;
}
.section-01-img img{
    /* max-width: 370px; */
    height: 250px;
}
.section-01-img .back{
    position: absolute;
    z-index: 0;
    left: 0;
    top: 0;
}
.section-01-img .front{
    position: absolute;
    z-index: 1;
    /* top: 170px;
    left: 200px; */
    right: 0;
    bottom: 0;
}

/* セクション02 */
.section-02 .box-wrapper{
    display: grid;
    gap: 6%;
    /* grid-template-columns: repeat(auto-fit, minmax(567px, 1fr)); */
    grid-template-columns: 1fr 1fr;
}
.section-02 .sub-title{
    text-align: center;
}
.section-02 article{
    padding: 0 8% 0 8%;
}
.section-02-img{
    margin-bottom: 30px;
    position: relative;
}
#index .section-02-img img{
    filter: brightness(0.8);
    /* -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out; */
}
/* #index .section-02-img:hover img{
    -webkit-filter: blur(1px);
    filter: blur(1px) brightness(0.8);
}
#index .section-02-img:hover .moreview{
    filter: none;
} */

.section-02-img .moreview{
    position: absolute;
    /* height: 51px; */
    height: 2.65625vw;
    width: auto;
    right: 10px;
    bottom: 30px;
    filter: none;
}
#index .section-02-img .moreview{
    filter: none;
}


/* セクション03 */
.section-03 .head-en{
    margin-bottom: 66px;
}
.section-03 .sub-title{
    margin-bottom: 107px;
}
.section-03 .box .sub-title{
    text-align: center;
}
.section-03 .section-03-img{
    margin-bottom: 40px;
}
.section-03 .box-wrapper{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4%;
}
.section-03-text{
    text-align: center;
    display: flex;
    justify-content: space-between;
}
.section-03-text p{
    display: block;
    font-size: 30px;
    /* font-size: 1.5625vw; */
    font-weight: bold;
    line-height: 60px;
    padding: 40px 2%;
    border: 4px solid var(--main);
}
.section-03-text .section-03-img{
    margin-bottom: 0;
}
.section-03-text img{
    height: 200px;
}

/* エントリーボタン */
.entrybtn{
    text-align: center;
    position: relative;
    margin-bottom: 180px;
    width: 100%;
}
.entrybtn a{
    display: block;
    width: 100%;
    font-size: 30px;
    /* font-size: 1.5625vw; */
    background-color: var(--main);
    color: #fff;
    line-height: 80px;
}
.entrybtn p{
    color: #fff;
}
.entrybtn img{
    height: 20px;
    position: absolute;
    left: 75%;
    top: 40%;
}


/* フッター */
.footer-box{
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}
/* .footer-contact{
    margin-right: 5%;
} */
.footer-head{
    font-size: 35px;
    /* font-size: 1.83vw; */
    font-weight: bold;
    margin-bottom: 86px;
}
.address-box{
    display: flex;
    justify-content: space-between;
}
.address-box address:nth-child(1){
    margin-right: 100px;
}
.page-footer-img{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}
.page-footer-img img{
    width: 100%;
    height: 100%;
    max-width: 317px;
    max-height: 372px;
}
small{
    text-align: center;
    display: block;
    font-size: 9px;
}






/* ■■■■■■　form.html ■■■■■■　*/
/* エントリーフォーム */
.container{
    /* border-width: 3px; */
    /* border-color: var(--main); */
    border: 2px solid var(--main);
    padding: 4%;
    margin-bottom: 60px;
}
#form .section-02 article{
    text-align: center;
    font-weight: bold;
}
#form .entrybtn,
#form .section-02{
    margin-bottom: 0;
}
#form .entrybtn a{
    font-size: 23px;
    line-height: 60px;
}
#form .entrybtn img{
    top: 30%;
    left: 70%;
}
.tel-contact{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid var(--main);
    height: 136px;
    margin-bottom: 45px;
}
.tel-contact p{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}
.tel-contact a{
    font-size: 30px;
    font-weight: bold;
    color: var(--fc);
}
.form-exp{
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    margin-bottom: 20px;
}
.form-exp p{
    display: inline-block;
    border: 2px solid var(--main);
    line-height: 69px;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
}
.form-exp img{
    height: auto;
    width: auto;
    margin-left: 2px;
}
.form-title{
    display: block;
    width: 100%;
    font-size: 25px;
    background-color: var(--main);
    color: #fff;
    line-height: 69px;
    margin-bottom: 20px;
}
.form-title p{
    padding-left: 4%;
    color: #fff;
}
.align-light{
    text-align: right;
}
.form-group{
    margin-bottom: 25px;
    display: block;
}
.form-group label{
    display: inline-block;
    max-width: 100%;
    font-weight: bold;
    font-size: 19px;
}
.form-control{
    display: block;
    width: 100%;
    height: 48px;
    padding: 6px 12px;
    font-size: 19px;
    color: #555;
    background-color: #fff;
    border: 2px solid var(--main);
}
.form-group select{
    /* -webkit-appearance: menulist; */
    border-radius: 0 !important;
    width: auto;
}
.radio-inline{
    margin-left: 40px;
}
.radio-box{
    margin-top: 25px;
}
.radio-box label{
    font-weight: normal;
}
input:required{
    background: #FFF3DD;
}
 /* input[type="email"]:invalid{
   background: #ffcdd2;
 } */
input:valid{
    background: transparent;
}
input:focus{
   /* background: #DCEDC8; */
    background: #fff;
}








/* ■■■■■■　message.html ■■■■■■　*/
/* セクション01 */
#message .section-01{
    position: relative;
}
#message .section-01 article{
    float: none;
    width: 60%;
}
#message .section-01 span{
    font-size: 35px;
}
#message .section-01 span::before{
    content: "　　　";
}
#message .section-01-img{
    height: auto;
    float: none;
    position: static;
    width: 100%;
}
#message .section-01-img .front{
    position: absolute;
    right: 0;
    bottom: 0;
    width: 30%;
    height: 100%;
    max-height: 485px;
    /* max-width: 470px; */
}
#message .section-01 .section-lead{
    /* padding: 0 2% 0 2%; */
    padding-right: 2%;
}


/* セクション02 */
#message .section-02 .arrow-img{
    display: inline-block;
}
#message .section-02 .arrow-img img{
    height: 20px;
    margin-left: 60px;
}
#message .section-02 .head-en{
    margin-bottom: 130px;
}
#message .section-02 .box-wrapper{
    display: block;
}
#message .section-02 .box{
    margin: 0;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 500px; */
    height: 26vw;
    /* margin-bottom: 250px; */
    margin-bottom: 13vw;
}
#message .section-02-img{
    width: 100%;
    height: 100%;
}
#message .section-02-img img{
    /* width: 100%;
    height: 500px; */
    width: 100%;
    height: 100%;
}
#message .section-02 .box:nth-child(even) {
    flex-direction: row-reverse;
}
/* #message .section-02 .box:nth-child(even) article {
    text-align: right;
} */
#message .section-02 .box:nth-child(even) .section-02-img {
    margin-left: 0;
    margin-right: 0;
}

#message .section-02 article{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    justify-content: flex-start;
    position: relative;
    margin-top: 2vw;
}
#message .section-02 article a{
    color: var(--fc);
    /* position: relative; */
    position: absolute;
    bottom: 0;
}
#message .section-02 article a p{
    display: inline-block;
    border: 2px solid var(--main);
    padding: 0 20px;
    /* line-height: 60px; */
    line-height: 3.125vw;
    /* font-size: 30px; */
    font-size: 1.5625vw;
    font-weight: normal;
    /* margin-bottom: 20px; */
}
#message .section-02 article img{
    position: absolute;
    right: -2.3vw;
    bottom: 1.5vw;
    width: 2.96875vw;
}
#message .section-02 .section-lead{
    /* margin-bottom: 100px; */
    margin-bottom: 3vw;
    font-weight: bold;
    /* font-size: 30px; */
    font-size: 1.5625vw;
}
.employee-position{
    /* font-size: 17px; */
    font-size: 0.8854vw;
    font-weight: normal;
}
.employee-name{
    /* font-size: 40px; */
    font-size: 2.08vw;
    font-weight: bold;
}





/* ■■■■■■　company-profile.html ■■■■■■　*/
/* セクション01 */
#company-profile .section-01-img img{
    height: auto;
}

/* セクションtable */
/* .inner{
    max-width: 1070px;
} */
.section-table{
    margin-bottom: 140px;
}
.section-table .section-title{
    text-align: center;
    margin-bottom: 120px;
}
#company-profile .section-table h2{
    background: none;
}
.table01{
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}
tr{
    border-bottom: 1px solid var(--line);
    text-align: left;
}
th,td{
    padding: 30px 0;
    color: var(--fc);
}
th{
    vertical-align: middle;
    padding-right: 80px;
    white-space: nowrap;
    font-size: 21px;
}
td{
    font-size: 19px;
}


/* ■■■■■■　recruitment.html ■■■■■■　*/
#recruitment .section-table .section-head{
    background: none;
}


/* ■■■■■■　initiative.html ■■■■■■　*/
/* セクション01 */
#initiative .section-01:nth-of-type(1){
    margin-bottom: 50%;
}
#initiative .section-01 {
    position: relative;
}
#initiative .section-01 article{
    margin-bottom: 170px;
    background: rgba(255,255,255,0.8);
    padding: 0 20px 20px 0;
    float: none;
    width: 40%;
}
#initiative .section-01-img{
    float: none;
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: 450px;
}
#initiative .section-01-img .front{
    position: static;
    height: 100%;
}


/* フレーム枠　ここから↓↓↓ */
#initiative .section-frame-img01{
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 100%;
    max-width: 720px;
    right: 0;
    top: -380px;
}
#initiative .section-frame-img02{
    position: absolute;
    z-index: -1;
    height: 400px;
    width: 100%;
    max-width: 720px;
    left: 0;
    bottom: -380px;
}



/* .section-frame-relative{
    position: relative;
}
#initiative .section-frame{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 60px;
    min-height: 300px;
    font-size: 20px;
    font-weight: bold;
}
#initiative .section-frame p:nth-of-type(1),
#initiative .section-frame p:nth-of-type(4){
    border: 3px solid var(--main);
    padding: 6%;
}
#initiative .section-frame p:nth-of-type(2),
#initiative .section-frame p:nth-of-type(3){
    color: #717171;
    font-size: 30px;
    writing-mode: vertical-rl;
    letter-spacing: 13px;
    margin-bottom: -13px;
}
#initiative .section-frame p:nth-of-type(2){
    text-align: end;
    writing-mode: vertical-lr;
}

#initiative .center-frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    border: 2px solid var(--main);
    padding: 6%;
} */

.section-frame-relative{
    position: relative;
}
#initiative .section-frame .frame-top{
    display: grid;
    /* grid-template-columns: 600px 1fr; */
    grid-template-columns: minmax(auto, 600px) 1fr;
    grid-gap: 80px;
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 60px;
}
#initiative .section-frame .frame-bottom{
    display: grid;
    /* grid-template-columns: 1fr 600px; */
    grid-template-columns: 1fr minmax(auto, 600px);
    grid-gap: 80px;
    font-size: 20px;
    font-weight: bold;
}

#initiative .section-frame .frame-top-left,
#initiative .section-frame .frame-bottom-right{
    border: 3px solid var(--main);
    padding: 6%;
}
#initiative .section-frame .frame-top-right,
#initiative .section-frame .frame-bottom-left{
    font-size: 30px;
    writing-mode: vertical-rl;
    letter-spacing: 13px;
    margin-bottom: -13px;
}
.text-tr,
.text-bl{
    color: #717171;
}
#initiative .section-frame .frame-top-right{
    text-align: end;
    writing-mode: vertical-lr;
}

#initiative .center-frame{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    /* display: flex;
    width: 100%; */
}


/* .center-fram-left,
.center-fram-right{
    height: 122px;
    width: calc(50vw * 2);
} */

.center-fram-border{
    border: 2px solid var(--main);
    height: 124px;
    width: 160px;
}
/* フレーム枠　ここまで↑↑↑ */


/* セクション01−02 */
#initiative .front{
    width: 100%;
    height: auto;
}

/* グラフエリア */
#initiative .section-01:nth-of-type(2){
    margin-bottom: 0;
}
#initiative .section-01:nth-of-type(2) > article{
    margin-bottom: 0;
    padding-bottom: 150px;
}
.section-graph {
    margin-bottom: 160px;
}
.section-graph-01{
    margin-bottom: 120px;
}
.section-graph-01 p{
    /* display: inline-block; */
    border: 3px solid var(--main);
    /* padding: 0 20px; */
    line-height: 137px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    box-shadow: 10px 10px 0px 0 var(--main);
    margin-right: 10px;
}
.section-graph .size-S{
    max-width: 460px;
}
.section-graph .size-M{
    max-width: 660px;
}
.section-graph .size-L{
    max-width: 870px;
}
.section-graph .size-2L{
    max-width: 1070px;
}

.graph-center{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 6%;
    align-items: center;
    margin-bottom: 120px;
}
.graph-img img{
    width: 100%;
    height: auto;
}

.graph-center .sub-title{
    font-size: 30px;
    /* font-size: 1.5625vw; */
    font-weight: bold;
}

.section-graph-02 p{
    display: inline-block;
    border: 3px solid var(--main);
    line-height: 137px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    background: #fff;
    width: 100%;
    box-shadow: -10px 10px 0px 0 var(--main);
    margin-left: 10px;
}
.section-graph-02 {
    /* text-align: right; */
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}



/* ■■■■■■　senior-voice.html ■■■■■■　*/
/* セクション01 */
#senior-voice .section-01{
    margin-bottom: 0;
}

/* 吹き出し */
/* 共通 */
.balloon-box{
    margin-bottom: 160px;
}
.balloon-simple {
    width: 100%;
    margin: 20px 0;
    overflow: hidden;
   }
    
   .balloon-simple .icon-right img,
   .balloon-simple .icon-left img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-size:cover;
   }
    
   .icon-right p,
   .icon-left p{
    text-align: center;
    top: -10px;
    position: relative;
   }
    
   .balloon-simple .balloon {
    width: 100%;
   }
    
   .serif-right,
   .serif-left {
    position: relative;
    padding: 20px 30px 20px 15px;
    border-radius: 30px;
    border: 3px solid var(--main);
   }
    
   .serif-right:after,
   .serif-left:after {
    content: "";
    position: absolute;
    top: 15px;
    border-top: 10px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
   }
    
   .serif-right p,
   .serif-left p  {
    margin: 0;
    /* padding: 0; */
    padding-left: 25px;
    font-size: 18px;
    font-weight: bold;
   }
    
   /* 共通 end */
    
   /* 右の吹き出し */
    
   .balloon-simple .icon-right {
    float: right;
    width: 100px;
    margin-right: 10px;
   }
   .serif-right {
    margin: 40px 20px 0 0px;
    background: var(--main);
    float: right;
    max-width: 600px;
   }
    
   .serif-right:after {
    transform: scale(-1, 1);
    right: -22px;
    border-right: 20px solid var(--main);
   }
   .serif-right:before{
    transform: scale(-1, 1);
    right: -22px;
    content: "";
    position: absolute;
    top: 13px;
    border-top: 12px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 22px solid var(--main);
    border-left: 0px solid transparent;
   }
   .serif-right p{
    color: #fff;
   }

   /* 右の吹き出し end */

   /* 左の吹き出し */

   .balloon-simple .icon-left {
    float: left;
    width: 100px;
    height: 100px;
    margin-right: 20px;
   }

   .serif-left{
    display: flex;
    max-width: 600px;
   }
   .serif-left:after{
    left: -22px;
    border-right: 20px solid #fff;
   }
   .serif-left:before{
    left: -22px;
    content: "";
    position: absolute;
    top: 13px;
    border-top: 12px solid transparent;
    border-bottom: 9px solid transparent;
    border-right: 22px solid var(--main);
    border-left: 0px solid transparent;
   }
    
   /* 左の吹き出し end */ 














/* ブレークポイント
------------------------------- */
@media (max-width: 768px) {
    /* 画面が◯◯px以下の時のCSS */
    /* 共通 */
    .wrapper{
        width: 100%;
        padding: 0 9%;
    }
    .wrapper-can{
        padding: 0;
    }
    .wrapper-left{
        float: none;
        width: auto;
    }
    .entrybtn{
        margin-bottom: 50px;
    }



    /* サイドバー */
    .side{
        display: none;
    }


    /* グロナビ */
    .gnav {
        display: none;
        position: fixed;
        z-index: 100;
        top: 80px;
        left: 0;
        width: 100%;
        }
    .gnav ul{
        grid-template-columns: 1fr;
        grid-gap: 0px;
    }
    .gnav a{
        font-size: 16px;
        /* font-size: 2.6vw; */
        width: 100%;
    }
    .gnav-entry {
        display: block;
    }
    /* .gnav-entry a{
        color: var(--main);
        background-color: #fff;
        border: 5px solid var(--main);
        outline: solid 2px var(--main);
        outline-offset: -12px;
    } */
    /* .gnav-entry{
        background: var(--main);
    }
    .gnav-entry a{
        color: #fff;
        outline: solid 2px #fff;
        outline-offset: -12px;
        display: inline-block;
        width: 200px;
    } */
    .gnav li::before,
    .gnav li::after{
        content: none;
    }
    .gnav li a::before,
    .gnav li a::after{
        content: none;
    }
    .gnav li a:hover{
        background: #fff;
    }


    /* ハンバーガーメニュー */
    .menu{
        cursor: pointer;/* マウスが乗った時に指マーク */
        width: 30px;
        display: block;/* PC版で消したから出す */
        position: absolute;
        top: 30px;/* 右側にレスポンシブになって欲しいので左からカウントしない事 */
        right: 20px;
    }
    .menu .border{/* 1つのタグで可能 */
        display: block;
        width: 30px;
        height: 2px;
        background: #000;
        transition: all .2s;/* メニュー変形のアニメーション設定 */
    }
    .menu .border + .border{
        margin-top: 8px;/* 隣接セレクター */
    }

    /* ハンバーガーメニューの変形 */
    .menu.on .border:nth-of-type(1){
        transform: translate(0,10px) rotate(45deg);/* 1本目を移動して45度回転 */
    }
    .menu.on .border:nth-of-type(2){
        opacity: 0;/* 消す→不透明度 */
    }
    .menu.on .border:nth-of-type(3){
        transform: translate(0,-10px) rotate(-45deg);/* 3本目を移動して45度回転 */
    }



    /* ヘッダー */
    .page-header{
        position: fixed;
        z-index: 100;
        top: 0;
        height: 80px;
        background-color:rgba(255,255,255,0.8);
        width: 100%;
    }
    .page-header.js_active_res{
        width: 100%;
        padding-left: 4%;
    }

    /* ヒーロー */
    .hero{
        height: 315px;
        margin-top: 80px;
        margin-bottom: 30px;
    }
    .hero img{
        height: 315px;
    }
    .hero .hero-text{
        font-size: 24px;
        /* font-size: 3.125vw; */
        /* font-size: 4.8vw; */
        line-height: 35px;
        padding-left: 4%;
    }



    /* セクション共通 */
    .section-01,
    .section-02,
    .section-03{
        text-align: center;
        font-weight: bold;
        margin-bottom: 60px;
    }
    .section-01-img,
    .section-02-img,
    .section-03-img{
        height: 250px;
    }
    .section-01-img img,
    .section-02-img img,
    .section-03-img img{
        width: 100%;
        height: 100%;
    }
    h2,
    .head-en{
        margin-bottom: 0;
    }
    h2{
        /* font-size: 5.6vw; */
        font-size: 19px;
    }
    .head-en{
        /* font-size: 3.46vw; */
        font-size: 13px;
    }
    .section-01 .sub-title,
    .section-02 .sub-title,
    .section-03 .sub-title{
        /* font-size: 5.33vw; */
        font-size: 18px;
    }
    .section-lead{
        /* font-size: 3.73vw; */
        font-size: 13px;
    }



    /* ■■■■■■　index.html ■■■■■■　*/
    /* セクション01 */
    .section-01-img{
        display: none;
    }
    .section-01 article{
        float: none;
        width: 100%;
    }
    .section-02-img .moreview{
        height: 36px;
        bottom: 20px;
    }


    /* セクション02 */
    .section-02 .box-wrapper{
        display: block;
    }
    .section-02 .box{
        margin-bottom: 60px;
    }
    .section-02 .sub-title{
        margin-bottom: 5px;
    }
    .section-02 article{
        padding: 0 9% 0 9%;
        margin-bottom: 30px;
    }
    .section-02-img{
        margin-bottom: 10px;
    }
    .section-02 .head-en{
        margin-bottom: 10px;
    }



    /* セクション03 */
    .section-03 .head-en{
        margin-bottom: 15px;
    }
    .section-03 .sub-title{
        margin-bottom: 30px;
    }
    .section-03 .box .sub-title{
        text-align: center;
    }
    .section-03 .section-03-img{
        margin-bottom: 10px;
    }
    .section-03 .box-wrapper{
        display: block;
    }
    .section-03-text{
        text-align: center;
        display: flex;
        justify-content: space-between;
    }
    .section-03-text p{
        display: block;
        width: 100%;
        /* font-size: 30px; */
        font-weight: bold;
        line-height: 60px;
        padding: 2%;
        border: 4px solid var(--main);
    }
    .section-03-text .section-03-img{
        display: none;
    }

    /* エントリーボタン */
    .entrybtn a{
        /* font-size: 5.3vw; */
        font-size: 20px;
        font-weight: bold;
        line-height: 45px;
    }
    .entrybtn img {
        height: 12px;
        left: 76%;
        top: 34%;
    }




    /* フッター */
    .footer-contact{
        width: 100%;
    }
    .page-footer-img{
        display: none;
    }
    .footer-head{
        /* font-size: 5.33vw; */
        font-size: 20px;
        margin-bottom: 25px;
    }
    .address-box{
        justify-content: flex-start;
        flex-wrap: wrap;
    }
    .address-box address{
        /* font-size: 3.2vw; */
        font-size: 12px;
        line-height: 2;
        font-weight: normal;
    }
    .address-box address:nth-child(1){
        margin-right: 7%;
        margin-bottom: 20px;
    }



    /* ■■■■■■　form.html ■■■■■■　*/
    #form .section-02,
    #form article,
    #form .entrybtn{
        margin-bottom: 0px;
    }
    #form .wrapper{
        padding: 0 6% 0 6%;
    }
    .tel-contact{
        height: 60px;
        margin-bottom: 5px;
    }
    .tel-contact p{
        font-size: 12px;
        margin-bottom: 0;
    }
    .tel-contact a{
        font-size: 17px;
    }
    .form-exp{
        margin-bottom: 5px;
    }
    .form-exp p{
        line-height: 30px;
        /* font-size: 12px; */
        font-size: 2vw;
    }
    .form-exp img{
        height: 8px;
    }
    .form-title{
        font-size: 12px;
        line-height: 30px;
        margin-bottom: 5px;
    }
    .form-control{
        height: 34px;
        font-size: 14px;
    }
    .form-group{
        margin-bottom: 15px;
    }
    .form-group label{
        font-size: 16px;
    }
    .radio-box{
        margin-top: 0px;
    }
    #form .entrybtn a{
        font-size: 20px;
        line-height: 45px;
    }
    #form .entrybtn img{
        top: 30%;
        left: 80%;
    }




    /* ■■■■■■　message.html ■■■■■■　*/
    /* セクション01 */

    #message .section-01 span{
        font-size: 20px;
    }
    #message .section-01 span::before{
        content: "";
    }
    #message .section-01 article{
        float: none;
        width: 100%;
    }
    #message .section-01-img{
        display: block;
        float: none;
        position: static;
        width: 100%;
        margin-bottom: 30px;
    }
    #message .section-01-img{
        height: 250px;
    }
    #message .section-01-img .front{
        position: static;
        width: 100%;
        height: 100%;
        min-width: 250px;
        object-fit: contain;
    }
    #message .section-01 .section-lead{
        padding: 0 8% 0 8%;
    }

    /* セクション02 */
    #message .section-02 .arrow-img img {
        display: none;
    }
    #message .section-02 .head-en{
        margin-bottom: 60px;
    }
    #message .section-02-img{
        margin-bottom: 20px;
        height: 250px;
    }
    #message .section-02 .box{
        margin: 0;
        display: block;
        height: auto;
    }
    #message .section-02 article a{
        color: var(--fc);
        position: relative;
        margin-bottom: 15px;
        right: -10px;
    }
    #message .section-02 article a p{
        line-height: 30px;
        font-size: 14px;
        margin-bottom: 0;
    }
    #message .section-02 article img{
        position: relative;
        top: unset;
        left: unset;
        right: 14px;
        bottom: 14px;
        width: 30px;
    }
    #message .section-02 .section-lead{
        margin-bottom: 20px;
        text-align: center;
        font-size: 18px;
    }
    .employee-position{
        font-size: 12px;
    }
    .employee-name{
        font-size: 20px;
    }



    /* ■■■■■■　company-profile.html ■■■■■■　*/
    #company-profile .head-en{
        margin-bottom: 30px;
    }
    .section-table .section-title{
        margin-bottom: 40px;
    }
    th,td{
        padding: 0;
        display: block;
    }
    th{
        margin-bottom: 5px;
        margin-top: 15px;
        font-size: 17px;
    }
    td{
        margin-bottom: 5px;
        font-size: 14px;
    }
    .section-table{
        margin-bottom: 50px;
    }

    /* ■■■■■■　recruitment.html ■■■■■■　*/
    #recruitment .section-lead{
        text-align: center;
        font-size: 12px;
    }



    /* ■■■■■■　initiative.html ■■■■■■　*/
    #initiative .head-en{
        margin-bottom: 30px;
    }
    #initiative .section-lead{
        margin-bottom: 40px;
        padding: 0 9%;
    }
    #initiative .section-01 article {
        padding: 0;
        margin-bottom: 0;
        width: 100%;
    }
    #initiative .section-01:nth-of-type(1) {
        margin-bottom: 0;
    }
    #initiative .section-01:nth-of-type(2) > article {
        padding-bottom: 0;
    }
    #initiative .no-hide{
        display: block;
        position: static;
        float: none;
        width: 100%;
        margin-bottom: 20px;
    }
    #initiative .no-hide .front{
        position: static;
        height: 100%;
    }

    /* フレーム枠 */
    .text-hide{
        display: none;
    }
    .section-frame-relative{
        margin-bottom: 100px;
    }
    #initiative .section-frame .frame-top-right, #initiative .section-frame .frame-bottom-left{
        font-size: 14px;
        writing-mode: lr-tb;
        writing-mode: horizontal-tb;
        letter-spacing: normal;
        margin-bottom: 0;
    }
    #initiative .section-frame .frame-top-left, #initiative .section-frame .frame-bottom-right {
        display: flex;
        align-items: center;
        padding: 5%;
        font-size: 14px;
        text-align: justify;
        line-height: 1.4;
    }
    #initiative .section-frame .frame-top,#initiative .section-frame .frame-bottom{
        /* grid-template-columns: 1fr 1fr; */
        grid-template-columns: minmax(100px,100%) minmax(100px,100%) ;
        height: 150px;
        grid-gap: 2%;
        margin-bottom: 50px;
    }

    .center-fram-border {
        height: 74px;
        width: 57px;
    }
    .section-frame-img01,
    .section-frame-img02{
        display: none;
    }
    .frame-top-right{
        background-image: url(../img/initiative-01.jpg);
        background-position: center center;
        background-size: cover;
    }
    .frame-bottom-left{
        background-image: url(../img/initiative-02.jpg);
        background-position: center center;
        background-size: cover;
    }
    .text-tr{
        position: absolute;
        top: 110%;
        left: -82%;
    }
    .text-bl{
        position: absolute;
        top: -23.5%;
        right: -82%;
    }






    /* グラフエリア */
    .section-graph{
        margin-bottom: 100px;
    }
    .section-graph-01{
        margin-bottom: 50px;
    }
    .section-graph-01 p,
    .section-graph-02 p{
        line-height: 45px;
        font-size: 20px;
        margin-bottom: 10px;
        margin-right: 0;
        margin-left: 0;
    }
    .section-graph .size-S,
    .section-graph .size-M,
    .section-graph .size-L,
    .section-graph .size-2L{
        max-width: none;
        box-shadow: none;
    }
    .graph-center{
        display: flex;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }
    .graph-center .graph-img{
        width: 95.6vw;
        height: 250px;
        overflow: hidden;
    }
    .graph-center .graph-img img{
        height: 250px;
    }
    .graph-center .sub-title{
        font-size: 20px;
        text-align: center;
        margin-bottom: 30px;
    }





    /* ■■■■■■　senior-voice.html ■■■■■■　*/
    #senior-voice .head-en{
        margin-bottom: 30px;
    }
    .serif-right p, .serif-left p{
        font-size: 13px;
        padding: 0;
    }
    .balloon-simple .icon-left {
        width: 58px;
        height: 58px;
        margin-left: 5%;
    }
    .serif-right, .serif-left {
        padding: 3%;
        max-width: 300px;
    }
    .balloon-box{
        margin-bottom: 100px;
    }
}